.App{
    min-height: 100vh;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    text-align: center; 
    background-color: rgb(201, 163, 236);
}

.contenedor-principal{
    min-height: 750px;
    max-width: 450px;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    background-color: rgb(130, 69, 172); 
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-width: 4px;
    
}

.title1{
    color: aliceblue;   
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    margin-left: 10px;
    margin-right: 10px;    
    justify-content: center;  
    -webkit-text-stroke: 1.8px black;  
}
